{% extends "base.html" %}

{% block content %}

<div class="container mt-2">
    <h2>My Products</h2>
    <div class="mb-4">
        <form action="{{ url_for('products.create_product') }}">
            <button type="submit" class="btn btn-warning">Create New Product</button>
        </form>
    </div>
    {% if products %}
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="product-card">
                        <div class="product-card-img-top" style="height: 150px; background-color: #f0f0f0;">
                            <img src="{{ product.image if product.image else url_for('static', filename='images/image_' + product.id|string + '.jpg') if product.id }}"
                                alt="{{ product.name }}" 
                                style="height: 100%; width: 100%; object-fit: contain;">
                        </div>
                        <div class="product-card-body">
                            <a href="{{ url_for('products.product_page', product_id=product[0]) }}">
                                <h5 class="product-card-title">{{ product.name }}</h5>
                            </a>
                            <p class="product-card-text">
                                <div class="star-rating-display">
                                    <div class="ml-2">
                                        <p>{{ product.num_ratings }} ratings</p>
                                    </div>
                                    {% for i in range(5, 0, -1) %} <!-- Iterate from 5 down to 1 -->
                                        {% set is_filled = i <= product.rating %}
                                        {% set is_half = i - 0.5 == product.rating %}
                                        <label class="{% if is_filled or is_half %}filled{% endif %}">
                                            &#9733;
                                        </label>
                                    {% endfor %}
                                    <div class="mr-2">
                                        <p>{{ product.rating|round(1) }}</p>
                                    </div>
                                </div>
                                <strong>
                                    {% if product.price %}
                                        ${{ "%.2f"|format(product.price) }}
                                    {% else %}
                                        No sellers
                                    {% endif %}
                                </strong>
                                {{ product.description[:100] }}...
                            </p>
                            <form action="{{ url_for('products.edit_product') }}">
                                <input type="hidden" name="pid" value="{{ product.id }}">
                                <button type="submit" class="btn btn-warning">Edit Product</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <nav aria-label="Product pagination" class="d-flex justify-content-center mt-4">
            <ul class="pagination">
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('users.created_products', page=page-1) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% set start_page = page - 2 if page > 3 else 1 %}
                {% set end_page = page + 2 if page < total_pages - 2 else total_pages %}
                {% for page_num in range(start_page, end_page + 1) %}
                    <li class="page-item {% if page_num == page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('users.created_products', page=page_num) }}">{{ page_num }}</a>
                    </li>
                {% endfor %}

                {% if page < total_pages %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('users.created_products', page=page+1) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% else %}
        <div class="alert alert-warning mt-2" role="alert">
          You have not created any products.
        </div>
    {% endif %}
</div>

<br>

{% endblock %}