{% extends "base.html" %}

{% block content %}

<br>

<h2 class="mt-4">My Profile:</h2>

{% if current_user.is_authenticated %}

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 mb-3">
      <a href="{{ url_for('users.user_info') }}" class="card-link">
        <div class="card mb-3 text-center">
          <div class="card-body">
            <h2 style="color: black;">My Info</h2>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 mb-3">
      <a href="{{ url_for('users.created_products') }}" class="card-link">
        <div class="card mb-3 text-center">
          <div class="card-body">
            <h2 style="color: black;">My Products</h2>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 mb-3">
      <a href="{{ url_for('users.purchase_history') }}" class="card-link">
        <div class="card mb-3 text-center">
          <div class="card-body">
            <h2 style="color: black;">Purchase History</h2>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 mb-3">
      <a href="{{ url_for('users.review_history') }}" class="card-link">
        <div class="card mb-3 text-center">
          <div class="card-body">
            <h2 style="color: black;">Review History</h2>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see user profile!</p>
{% endif %}

{% endblock %}
