{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}

<div class="container mt-2">
    <h2>Review History</h2>
    {% if reviews %}
        {% for review in reviews %}
            <div class="card mt-2" id="review-{{ review.id }}">
                <div class="card-body">

                    <h5 class="card-title"><strong>
                        {% if review.review_type == "Seller" %}
                            <a href="{{ url_for('inventories.get_user',
                                uid=review.tid,
                                ) }}">{{ review.name }}
                            </a>
                        {% else %}
                            <a href="{{ url_for('products.product_page',
                                product_id=review.tid
                                )}}">{{ review.name }}
                            </a>
                        {% endif %}
                    </strong> ({{ review.review_type }})</h5>
                    <div class="d-flex justify-content-between align-items-start">
                        <div>
                            <p class="card-text">{{ review.description }}</p>
                            <p class="card-text"><small class="text-muted">Reviewed on {{ review.time_created.strftime('%B
                                    %d, %Y') }}</small></p>
                        </div>
                        <div class="star-rating-display">
                            {% for i in range(5, 0, -1) %} <!-- Iterate from 5 down to 1 -->
                                <label class="{% if i - 0.5 <= review.rating %}filled{% endif %}">
                                    &#9733;
                                </label>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Helpfulness Section with Voting Buttons -->
                    <div class="d-flex justify-content-end align-items-center" style="margin-top: -30px;">
                        <!-- Adjusted alignment -->
                        <!-- Helpfulness Count -->
                        <small class="text-muted me-2 mr-2">Helpfulness: <span class="helpfulness-count"
                                data-review-id="{{ review.id }}">{{ review.helpfulness }}</span></small>
                    </div>

                    <div class="d-flex align-items-center mt-4">
                        <form action="{{ url_for('social.edit_review') }}" method="POST" class="mr-2">
                            <input type="hidden" name="review_id" value="{{ review.id }}">
                            <button type="submit" class="btn btn-warning">Edit</button>
                        </form>
                        <form action="{{ url_for('social.delete_review') }}" method="POST">
                            <input type="hidden" name="review_id" value="{{ review.id }}">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        <nav aria-label="Product pagination" class="d-flex justify-content-center mt-4">
            <ul class="pagination">
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('users.review_history', page=page-1) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% set start_page = page - 2 if page > 3 else 1 %}
                {% set end_page = page + 2 if page < total_pages - 2 else total_pages %}
                {% for page_num in range(start_page, end_page + 1) %}
                    <li class="page-item {% if page_num == page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('users.review_history', page=page_num) }}">{{ page_num }}</a>
                    </li>
                {% endfor %}

                {% if page < total_pages %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('users.review_history', page=page+1) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% else %}
        <div class="alert alert-warning mt-2" role="alert">
            You have not written any reviews.
        </div>
    {% endif %}
</div>
{% else %}
    <p><a href="{{ url_for('users.login') }}">Log in</a> to see your review history!</p>
{% endif %}

{% endblock %}