{% extends "base.html" %}

{% block content %}

<br><br>

<h2 class="mt-4">{{ products | length }} Results for "{{ query }}"</h2>
<div class="container mt-4">
  <div class="row">
    {% for product in products %}
      <div class="col-md-4 mb-4"> <!-- Adjust the number of columns as needed -->
        <a href="{{ url_for('products.product_page', product_id=product.id) }}">
          <div class="card">
            <div class="card-img-top" style="height: 150px; background-color: #f0f0f0; display: flex; align-items: center; justify-content: center;">
              <span style="color: #ccc;">Product Image Placeholder</span> <!-- Placeholder for product image -->
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">
                <strong>Product ID:</strong> {{ product.id }}<br>
                <strong>Description:</strong> {{ product.description }}
              </p>
            </div>
          </div>
        </a>
        
      </div>
    {% endfor %}
  </div>
</div>

<br><br>

{% endblock %}
